$mustard: #FC9B29;
$chocolate: #3E0F04;
$brown: #8A3106;

@font-face {
    font-family: 'Objectivity';
    font-style: bold;
    font-weight: 700;
    src: url(/Objectivity/Objectivity-Black.otf) format('otf'),
      url(/Objectivity/Objectivity-Black.woff2) format('woff2');
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#form-container{
    height: 82vh;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $brown;
    h1{
        font-family: 'Objectivity';
        color: white;
        font-size: 70px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        color: black;
        label{
            color: white;
            text-transform: capitalize;
        }
        input{
            &:focus{
                outline: 0;
            }
        }
        button{
            background-color: $mustard;
            color: black;
            border: none;
            padding: 8px 25px;
            border-radius: 10px;
        }
    }
}