@font-face {
  font-family: "Objectivity";
  font-style: bold;
  font-weight: 700;
  src: url(/Objectivity/Objectivity-Black.otf) format("otf"), url(/Objectivity/Objectivity-Black.woff2) format("woff2");
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

#Order {
  margin: 0px 0px 20px 0px;
}
#Order .order-top {
  text-align: center;
  font-family: "Objectivity";
  margin: 20px 0px;
  font-size: 70px;
}
#Order .do-order .row {
  margin-bottom: 20px;
}
#Order .do-order .row .image-container img {
  max-width: 100%;
  object-fit: cover;
}
#Order .do-order .row .food-text {
  display: flex;
  flex-direction: column;
}
#Order .do-order .row .food-text .title-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
#Order .do-order .row .food-text .title-price div:first-child h2 {
  font-style: italic;
  font-weight: 900;
  overflow-wrap: break-word;
}
#Order .do-order .row .food-text .title-price div:nth-child(2) h2 {
  font-weight: 900;
}
#Order .do-order .row .food-text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
#Order .do-order .row .add-products {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}
#Order .do-order .row .add-products .incdec-button {
  max-width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border: solid red 2px;
  border-radius: 20px;
}
#Order .do-order .row .add-products .incdec-button button {
  background-color: transparent;
  border: none;
  width: 70px;
}
#Order .do-order .row .add-products .incdec-button p {
  margin: 0px 5px 0px 5px;
}
#Order .do-order .row .add-products .add-to-cart {
  text-align: center;
}
#Order .do-order .row .add-products .add-to-cart button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 5px 15px;
}
/*carrito*/
.cart-menu {
  position: -webkit-sticky;
  position: sticky;
  left: 3vw;
  bottom: 3vh;
}
.cart-menu label {
  width: 70px;
  height: 70px;
  background-color: #FC9B29;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.cart-menu label img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

#cart-menu {
  display: none;
}

.container-menu {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

#cart-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-cartmenu {
  width: 100%;
  max-width: 30vw;
  background: white;
  height: 100;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#cart-menu:checked ~ .container-menu .cont-cartmenu {
  transform: translateX(0%);
}

#bar {
  text-align: center;
  background-color: white;
}
#bar h1 {
  color: black;
  font-family: "Objectivity";
  font-size: 20px;
  margin: 0px;
  padding: 10px 0px 5px 0px;
}

.cont-cartmenu .checkout {
  padding: 15px 15px;
}
.cont-cartmenu .checkout .h-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cont-cartmenu .checkout .checkout-item {
  margin-bottom: 15px;
}
.cont-cartmenu .checkout .checkout-item h5 {
  opacity: 0.8;
}
.cont-cartmenu .checkout .checkout-totals {
  background-color: #FC9B29;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 15px;
}
.cont-cartmenu .checkout .checkout-totals button {
  background-color: red;
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px 10px;
  border-radius: 15px;
}
.cont-cartmenu .checkout .checkout-totals button:focus {
  outline: none;
}
.cont-cartmenu .checkout #checkout-products .checkout-product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5px 0px;
}
.cont-cartmenu .checkout #checkout-products .checkout-product img {
  max-width: 10vw;
}
.cont-cartmenu .checkout #checkout-products .checkout-product .items-cart {
  margin-left: 5px;
  font-size: 15px;
}
.cont-cartmenu .checkout #checkout-products .checkout-product .items-cart p:first-child {
  font-weight: 700;
}
.cont-cartmenu .no-products {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#toastCart {
  position: sticky;
  bottom: 3vh;
  width: max-content;
  margin-left: auto;
  margin-right: 3vw;
  transition: ease-in-out 0.3s;
}
#toastCart .toast-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#toastCart .toast-header img {
  width: 2vw;
}

/*carrito*/

/*# sourceMappingURL=order-styles.css.map */
