$mustard: #FC9B29;
$chocolate: #3E0F04;
$brown: #8A3106;
$pipegreen: #6B7727;

@font-face {
    font-family: 'Objectivity';
    font-style: bold;
    font-weight: 700;
    src: url(/Objectivity/Objectivity-Black.otf) format('otf'),
      url(/Objectivity/Objectivity-Black.woff2) format('woff2');
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

nav{
    font-family: 'Objectivity';
    background-color: $brown;
    padding: 10px 0px 10px 0px;
    .row{
        div{
            &:first-child{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                label{
                    border-radius: 13px;
                    font-size: 30px;
                    text-decoration: none;
                    color: white;
                    background-color: #6B7727;
                    padding: 10px 9px 10px 9px;
                    margin-left: 30px;
                    &:hover{
                        cursor: pointer;
                    }
                    @media (min-width: 991.9px){ //lg
                        display: none;
                    }
                }
                img{
                    width: 180px
                }
                .option{
                    text-decoration: none;
                    color: white;
                    font-size: 1.5vw;
                    @media (max-width: 991.9px){ //lg
                        display: none;
                    }
                }
            }
            &:nth-child(2){
                text-align: end;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button, a{
                    border: none;
                    border-radius: 13px;
                    font-size: 24px;
                    background-color: $mustard;
                    padding: 5px 11px 5px 11px;
                    &:focus{
                        outline: none;
                    }
                    img{
                        max-width: 25px;
                        max-height: 25px;
                    }
                }
            }
        }
    }
}

#home-banner{
    background-color: $chocolate;
    height: 83vh;
    @media (max-width: 768px){
        height: 60vh;
    }
    @media (max-width: 576px){
        height: 45vh;
    }
    p{
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 900;
    }

    .text-section{
        div{
            &:nth-child(1){
                text-align: center;
                margin-top: 7vh;
                @media (max-width: 768px){
                    margin-top: 4vh;
                }
                p{
                    &:nth-child(1){
                        font-size: 8vw;
                        rotate: -6.58deg;
                    }
                    &:nth-child(2){
                        font-size: 6vw;
                        margin-top: -5vh;
                    }
                    &:nth-child(3){
                        font-size: 2vw;
                        margin-top: -2.5vh;
                    }
                    &:nth-child(4){
                        font-size: 2vw;
                        margin-top: -2.5vh;
                    }
                }
            }
            &:nth-child(2){
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-around;
                justify-content: center;
                align-items: center;
                a{
                    border-radius: 13px;
                    text-decoration: none;
                    color: black;
                    font-family: 'Objectivity';
                    background-color: #EAD7AC;
                    font-size: 2.5vw;
                    padding: 10px;
                    &:hover{
                        background-image: url('../resource/cow-texture.png');
                        -webkit-text-stroke: 0.5px white;
                    }
                }
                p{
                    font-size: 4vw;
                    margin: 0px 1.5vw;
                }
            }
        }
    }

    .img-section{
        img{
            width: 41vw;
            margin-top: 7px;
        }
    }
}

#menu{
    background-color: $mustard;
    text-align: center;
    padding: 20px 0px 20px 0px;
    h1{
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        color: black;
        font-size: 8vw;
    }
    h3{
        font-size: 2.5vw;
        color: black;
    }
    svg{
        max-height: 70vh;
        .svg-text, .cerdo{
            cursor: pointer;
            fill: green;

        }
        .pecho, .panza, .lomo, .lomo-enmedio, .lomo-final{
            &:hover{
                cursor: pointer;
                fill: green;
                & ~ .svg-text, .cerdo{
                    fill: black;
                    cursor: pointer;
                }
                & ~ .cerdo{
                    fill: black;
                    cursor: pointer;
                }
            }
        }
        .cabeza, .vacio, .muslo{
            &:hover{
                cursor: pointer;
                fill: green;
            }
        }
    }
}

#branches{
    background-color: $pipegreen;
    text-align: center;
    padding: 20px 0px 20px 0px;
    height: 48.5vw;
    .title-container{
        h1{
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            color: black;
            font-size: 8vw;
        }
        h3{
            font-size: 2.5vw;
            color: black;
        }
    }
    .maps{
        padding-top: 30px;
        display: flex;
        h4{
            color: black;
            padding-top: 20px;
            font-size: 3vw;
        }
    }

}

/* menú lateral*/

#btn-menu{
    display: none;
}

.container-menu {
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
  
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
  
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: $brown;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
  
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

#bar{
    text-align: center;
    background-color: #FC9B29;
    h1{
        color: black;
        font-family: 'Objectivity';
        font-size: 20px;
        margin: 0px;
        padding: 10px 0px 5px 0px;
    }
}
  
.cont-menu {
    nav {
      transform: translateY(15%);
  
      a {
        display: block;
        text-decoration: none;
        padding: 20px;
        color: #c7c7c7;
        border-left: 5px solid transparent;
        transition: all 400ms ease;
  
        &:hover {
          border-left: 5px solid #c7c7c7;
          background: $mustard;
          color: black;
        }
      }
    }
  
    label {
      position: absolute;
      right: 5px;
      top: 10px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
    }
}

/*fin de ventana lateral*/

#enterEmailModal{
    .modal-content{
        .modal-header{
            position: absolute;
            right: 0px;
            z-index: 1;
            border: none;
            button{
                border: none;
            }
        }
        .writeEmailBody{
        }
    }
}